# Server Configuration
PORT=8000
NODE_ENV=development

# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/zoom_clone?retryWrites=true&w=majority

# Client Application URL (for CORS)
CLIENT_URL=http://localhost:5173